---
layout: splash
---

{{ content }}

<p>Pour en savoir plus ou participer à cette sélection, venez échanger avec nous sur <a href="https://discord.gg/7djkNsFShR" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-discord" aria-hidden="true"></i> Discord</a> !</p>

<h3 class="archive__subtitle">Pour découvrir le genre :</h3>
<iframe class="airtable-embed" src="https://airtable.com/embed/shrRFeCXm6bgO9N7F?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>


<h3 class="archive__subtitle">Notre sélection de fictions courtes :</h3>
<iframe class="airtable-embed" src="https://airtable.com/embed/shrJgUWIfWoYj5seN?backgroundColor=green&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>


<h3 class="archive__subtitle">Les fictions qu'on aime réécouter :</h3>
<iframe class="airtable-embed" src="https://airtable.com/embed/shrwpAOJVbNhJhOLE?backgroundColor=green&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>

